/* ===================
Vars

Define main vars here 
======================*/

:root {
    --background-color: 255, 255, 255;
    --primary-color: 203, 91, 60;
    --secondary-color: 221, 138, 87;
}


/* ===========
Defaults 

Most of the basic styling defaults
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Fira Code', sans-serif;
    color: grey;
}

body {
    width: 100%;
    height: 100%;
    background: rgb(var(--background-color)) no-repeat center fixed;
    background-size: cover;
}

section {
    padding: 6rem 0;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.8rem;
    font-weight: 300;
}

img {
    width: 100%;
}

header {
    width: 100%;
    height: 100vh;
}

li {
    margin: 0 2rem;
}

h1 {
    color: rgb(var(--primary-color));
}

form {
    width: 70%;
    margin: 0 auto;
}

form label {
    color: rgb(var(--primary-color));
    font-size: 2rem;
}

input, select, textarea {
    font-size: 1.5rem;
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    outline-color: grey;
}

textarea:focus, input:focus {
    outline-color: grey;
}

hr.rounded {
    color: rgb(var(--secondary-color));
    border-bottom: .25rem solid rgb(var(--secondary-color));
    border-radius: .25rem;
    border-style: solid;
}

/* ==============
Styling 

The main styling portion targeting specific classes
*/

.dropdown {
    position: relative;
    display: inline-block;
}

.drop-button {
    background-color: rgb(var(--primary-color));
    left: 0px;
    color: rgb(var(--background-color));
    font-size: 2rem;
    border: none;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.drop-button i {
    margin: .75rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(var(--background-color))smoke;
    min-width: 135px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 1.5rem;
    font-size: 2rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    animation: pulse 2s infinite;
    background-color: rgb(var(--background-color));
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    width: 99%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading {
    text-align: center;
    margin-bottom: 5rem;
}

.section-heading h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 2rem;
}

.section-heading h1::before, .section-heading h1::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(var(--secondary-color));
}

.section-heading h1::before {
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}

.section-heading h1::after {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1.6rem;
}

.section-heading h6 {
    font-size: 2rem;
    font-weight: 300;
    margin: 2rem;
}

.has-margin-right {
    margin-right: 5rem;
}

.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.landing-text h1 {
    margin-top: 0;
    font-size: 10rem;
    padding: 1rem;
    user-select: none;
    color: rgb(var(--primary-color));
}

.landing-text h6 {
    font-size: 2rem;
    font-weight: 300;
    color: rgb(var(--secondary-color));
}

.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading {
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}

.about-heading h1 {
    font-size: 10rem;
    opacity: .4;
    color: rgb(var(--secondary-color));
}

.about-heading h6 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 7.5rem;
    color: rgb(var(--primary-color))
}

.profile-img {
    flex: 1;
}

.profile-img img {
    max-width: 50%;
    max-height: 50%;
}

.about-details {
    flex: 1;
}

.my-skills {
    margin-top: 10rem;
    margin-bottom: 15rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.skill h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

.skill-container {
    width: 50rem;
    height: 12rem;
    display: flex;
}

.skill-container i {
    color: rgb(var(--secondary-color));
    margin: auto;
    margin: 4rem;
}

.material-icons.md-60 {
    font-size: 60px;
}

.skill-container p {
    width: 50rem;
}

.portfolio-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.portfolio-item:last-child {
    margin-bottom: 0;
}

.profile-img {
    flex: 1;
    width: 50rem;
}

.portfolio-description {
    flex: 2;
}

.portfolio-description h1 {
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
}

.portfolio-description h6 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: .03;
}

.portfolio-description .cta {
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: rgb(var(--secondary-color));
    transition: color 650ms;
}

.portfolio-description .cta:hover {
    color: rgb(var(--secondary-color))
}

.timeline ul {
    border-left: 4px solid rgb(var(--secondary-color));
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    position: relative;
    padding: 5rem;
    padding-top: 2rem;
    list-style: none;
    text-align: left;
    width: 70%;
}

.timeline h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
}

.timeline .date {
    margin-bottom: 3rem;
    margin-top: 3rem;
    position: relative;
}


.timeline .date:last-of-type {
    padding-right: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .date::before, .timeline .date::after {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.timeline .date::before {
    content: attr(data-date);
    left: -28rem;
    text-align: right;
    min-width: 12rem;
    font-size: 2rem;
}

.timeline .date::after {
    content: '';
    box-shadow: 0 0 0 4px rgb(var(--secondary-color));
    border-radius: 100%;
    left: -8rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: rgb(var(--background-color));
}

.contact {
    background-color: rgb(var(--background-color));
}

input[type="submit"] {
    font-size: 2rem;
    margin-top: 1rem;
    width: initial;
    background-color: rgb(var(--primary-color));
    color: rgb(var(--background-color));
    padding: 1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 650ms;
    opacity: 100%;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:hover {
    animation: pulse 2s infinite;
}

.up {
    width: 6rem;
    height: 6rem;
    background: none;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 20px;
    right: 20px;
    outline: none;
}

.up:hover {
    animation: pulse 2s infinite;
}

.social-media {
    display: flex;
    text-align: ceenter;
}

.social-media i {
    font-size: 5rem;
    transition: color 650ms;
}

.product-logo {
    background: none;
    flex: 33.33%;
    padding: 5px;
}

.icon-image {
    transition: opacity 650ms;
    opacity: 1;
    width: auto;
    max-width: 75px;
    height: auto;
    max-height: 50px;
}

.icon-image:hover {
    opacity: 0.7;
}

.copyright {
    width: 100%;
    text-align: center;
    background-color: rgb(var(--background-color));
    padding: 2rem 0;
    position: relative;
}

.copyright p {
    font-size: 1.6rem;
}

/* ========================
Animations 

Various animations to use for elements.
===========================*/

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(var(--secondary-color), .8);
    }
    70% {
        box-shadow: 0 0 0 2rem rgba(var(--secondary-color), 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(var(--secondary-color), .8);
    }
}

/* ======================================== 
Screen adjustment settings.

Change settings depending on screen size. Useful for 
smartphone or tablet layout.s 
==========================================*/

@media screen and (max-width: 768px) {
    body {
        background-size: cover;
    }
    .landing-text h1 {
        font-size: 15rem;
    }
    .landing-text h6 {
        font-size: 1.5rem;
    }
    .nav-list {
        flex-direction: column;
    }
    li {
        margin: 2rem 0;
    }
    .nav-link {
        font-size: 4.5rem;
    }
    .about-heading h1 {
        font-size: 8rem;
    }
    .section-heading h1 {
        font-size: 3rem;
    }
    .section-heading h6 {
        font-size: 2.5rem;
    }
    .about-details .nav-list {
        flex-direction: initial;
    }
    .about-details li {
        margin: 0 2rem;
    }
    .skill-container {
        width: 7rem;
        height: 7rem;
    }
    .skill i {
        width: 50px;
        height: 50px;
    }
    .timeline ul {
        margin: 0 0 0 auto;
    }
    .timeline .date::before {
        left: -20rem;
    }
    .timeline .date::after {
        left: -5.9rem;
    }
}

@media screen and (max-width: 600px) {
    .landing-text h1 {
        font-size: 8rem;
    }
    .landing-text h6 {
        font-size: 1.4rem;
    }
    .about .container {
        flex-direction: column;
    }
    .profile-img {
        margin: 0 0 7rem 0;
    }
    .portfolio-item {
        flex-direction: column;
    }
    .portfolio-img {
        margin: 0 0 2rem 0;
    }
    .portfolio-description {
        margin: 0;
        order: 2;
    }
    .timeline p {
        font-size: 1.5rem;
    }
    .timeline .date::before {
        font-size: 1.4rem;
    }
    form {
        width: 100%;
    }
    .up {
        right: 2rem;
    }
}